@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps222 with ASP.NET Core</a>.</p>
    <p>访问的次数:@ViewBag.Counter 访问的地址为:IP:@ViewBag.IP Port:@ViewBag.Port</p>
</div>
